---
import '@/assets/styles/reset.css';
import '@/assets/styles/vars.css';

import { FontLoader } from '@/components/ui/font-loader';
import { Header } from '@/components/ui/header';
import { SEO } from 'astro-seo';

export interface Props {
  title?: string;
}

const { title } = Astro.props;

const seoTitle = title
  ? title + ' | Just a pretty website'
  : 'Just a pretty website';
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link rel="sitemap" href="/sitemap-index.xml" />

    <SEO
      title={seoTitle}
      description="Experiments and generative art."
      openGraph={{
        basic: {
          title: seoTitle,
          type: 'website',
          image: 'https://just-a-pretty-website.vercel.app/images/og.png',
        },
      }}
      twitter={{
        creator: '@devlulcas',
      }}
      extend={{
        link: [{ rel: 'icon', href: '/favicon.svg' }],
        meta: [
          {
            name: 'twitter:image',
            content: 'https://just-a-pretty-website.vercel.app/images/og.png',
          },
          { name: 'twitter:title', content: seoTitle },
          {
            name: 'twitter:description',
            content: 'Experiments and generative art.',
          },
        ],
      }}
    />

    <FontLoader />
  </head>

  <body>
    <div class="background-image"></div>

    <div class="container">
      <Header />
      <slot />
    </div>

    <style is:global>
      html {
        background-color: var(--background-color);
        color: var(--foreground-color);
        font-family: var(--font-mono);
      }

      .background-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 30vh;
        object-fit: cover;
        background-image: url('/images/sunset.webp');
        background-size: cover;
        background-position: center;
        z-index: -1;
      }

      .background-image::after {
        content: '';
        position: absolute;
        top: 5px;
        left: 0;
        width: 100%;
        height: 30vh;
        z-index: -1;
        background: linear-gradient(
          180deg,
          transparent 45%,
          var(--background-color) 75%
        );
      }

      .container {
        outline: 1px solid red;
        height: 100dvh;
        overflow: hidden;
      }
    </style>
  </body>
</html>
