---
export interface Props {
  className?: string;
};

const { className } = Astro.props;
---

<div class:list={["bg-grid", className]}></div>

<style>
  .bg-grid {
    margin-top: -10rem;
    background-size: 20px 20px;

    background-image: linear-gradient(
        to right,
        var(--pale-accent-color) 1px,
        transparent 1px
      ),
      linear-gradient(to bottom, var(--pale-accent-color) 1px, transparent 1px);

    background-position: top center;

    image-rendering: pixelated;

    -webkit-mask-image: linear-gradient(
      to bottom,
      transparent,
      10%,
      white,
      90%,
      transparent
    );

    mask-image: linear-gradient(
      to bottom,
      transparent,
      10%,
      white,
      90%,
      transparent
    );
  }
</style>
