---
import { ExperimentLink } from '@/components/ui/experiment-link';
import { GridDecoration } from '@/components/ui/grid-decoration';
import { DefaultLayout } from '@/layouts/default-layout';
---

<DefaultLayout title="Just a pretty website">
  <div class="start">
    <p class="greeting">Hey! Glad to see you</p>
    <h1 class="title">Just a pretty website</h1>
    <p class="sub-title">Experiments and generative art.</p>
  </div>

  <ul class="experiment-list">
    <li class="experiment-list__item">
      <ExperimentLink
        number="001"
        description="Synced un-synced circle thing"
      />
    </li>
  </ul>

  <GridDecoration className="start" />
</DefaultLayout>

<style>
  .start {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(var(--min-content-height) - var(--header-height));
    text-align: center;
  }

  .greeting {
    font-family: var(--font-serif);
    font-size: 2rem;
  }

  .title {
    font-size: 3rem;
    font-family: var(--font-special);
    color: var(--accent-color);
  }

  .sub-title {
    font-size: 1rem;
    font-family: var(--font-special);
  }

  .experiment-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding: 0%;
    margin: 0;
  }

  .experiment-list__item {
    margin: 0;
    padding: 0;
    z-index: 1;
  }

  @media (min-width: 760px) {
    .start {
      height: calc(var(--min-content-height) - var(--header-height));
    }

    .greeting {
      font-size: 3rem;
    }

    .title {
      font-size: 5rem;
    }

    .sub-title {
      font-size: 2rem;
    }
  }
</style>
