---
import { DefaultLayout } from '@/layouts/default-layout';

export interface Props {
  title: string;
}

const { title } = Astro.props;

const seoTitle = `Experiment ${title}`;
---

<DefaultLayout title={seoTitle}>
  <div>
    <main class="experiment-box">
      <slot />
    </main>
  </div>
</DefaultLayout>

<style>
  div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .experiment-box {
    width: 25vw;
    aspect-ratio: 1;
    background-color: #fff;
    border: 1px solid var(--accent-color);
    overflow: hidden;
    position: relative;

    @media (max-width: 768px) {
      width: 95vw;
    }
  }
</style>
